<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
<ui:composition>
    <div id="myName">
        <p>Vantsev Alexander Olegovich</p>
    </div>
    <div id="myGroup">
        <p>P3200</p>
    </div>
    <div id="myVariant">
        <p>49211</p>
    </div>
</ui:composition>
</body>
</html>
