<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<body>
<ui:composition>
    <div id="currentTime">
        <script type="text/javascript">
            dateContainer = document.getElementById('currentTime');
            setTime();
            function setTime() {
                var dt = new Date().toLocaleString();
                dateContainer.innerHTML = dt;
                setTimeout('setTime()', 8000);
            }
        </script>
    </div>
</ui:composition></body>
</html>
