#form{
    left: 30px;
    top: 30px;
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 400px;
}
#myName{
    color: cadetblue;
    font-size: 30px;
}
#myGroup{
    color: cadetblue;
    font-size: 15px;
}
#header{
    position: absolute;
    width: 400px;
    left: 10%;
}
#time{
    position: absolute;
    width: 150px;
    top: 20px;
    right: 20%;
}
#link{
    position: absolute;
    top: 650px;
    left: 45%;
}
#myCanvas{
    position: absolute;
    top: 0;
    left: 430px;
    border: 1px dashed black;
}
#results{
    position: absolute;
    top:0;
    left: 1150px;
}