<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<body>
<ui:composition>
    <script type="text/javascript" src="templates/form.js"> </script>
    <h:form id="myForm">
        <div id="xSlider">
            <p>Enter x value:
                 <p:inputText readonly="true"  id="xValue" value="0" style="width: 50%"/>
            </p>
            <p:slider
                  for="xValue"
                  minValue="-2"
                  maxValue="2"
                  step="0.5"
                  onSlideEnd="setX()"
                  />
            <h:inputHidden id="xHidden" value="#{points.x}"/>
        </div>

        <div id="yInput">
            <p>Enter y value:
                <h:inputText id="yValue" value="#{points.y}" validatorMessage="Must be in [-3;5]">
                    <f:validateDoubleRange minimum="-3.0" maximum="5.0"/>
                </h:inputText>
                <h:message for="myForm:yValue" showDetail="true" id="yMsg"/>
            </p>
        </div>

        <div id="rRadio">
            <p>Select r value:
                <h:selectOneRadio id="rRadioSelect" value="1.0" onclick="drawCanvas()" >
                    <f:selectItem itemValue="1.0" itemLabel="1.0"/>
                    <f:selectItem itemValue="1.5" itemLabel="1.5"/>
                    <f:selectItem itemValue="2.0" itemLabel="2.0"/>
                    <f:selectItem itemValue="2.5" itemLabel="2.5"/>
                    <f:selectItem itemValue="3.0" itemLabel="3.0"/>
                </h:selectOneRadio>
                <h:inputHidden id="rHidden" value="#{points.r}"/>
            </p>
        </div>
        <div>
            <p>
                <h:commandButton id="button" value="Check" onclick="checkPoint()" action="#{points.add}">
                    <f:ajax render="myCanvas resultsTable myForm:yMsg" execute="myForm:rHidden myForm:xHidden myForm:yValue resultsTable "/>
                </h:commandButton>
            </p>
        </div>
    </h:form>
</ui:composition>
</body>
</html>
