<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition>
    <h:dataTable id="resultsTable" var="o" value="#{points.pointsList}">
        <h:column>
            <f:facet name="header">X</f:facet>
            #{o.x}
        </h:column>
        <h:column>
            <f:facet name="header">Y</f:facet>
            #{o.y}
        </h:column>
        <h:column>
            <f:facet name="header">R</f:facet>
            #{o.r}
        </h:column>
        <h:column>
            <f:facet name="header">Hit</f:facet>
            #{o.hit}
        </h:column>
    </h:dataTable>
</ui:composition>
</html>
