<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>hit da carte</title>
    <h:outputStylesheet name="style.css" library="css"/>
</h:head>
<h:body>
    <div id="header">
        <ui:insert name="header">
            <ui:include src="templates/templHeader.xhtml"/>
        </ui:insert>
    </div>
    <div id="time">
        <ui:insert name="time">
            <ui:include src="templates/templTime.xhtml"/>
        </ui:insert>
    </div>
    <div id="link">
        <ui:insert name="link">
            <ui:include src="templates/templLink.xhtml">
                <ui:param name="linkValue" value="main"/>
                <ui:param name="linkName" value="Main Page"/>
            </ui:include>
        </ui:insert>
    </div>
</h:body>
</html>