<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <h:outputStylesheet name="style.css" library="css"/>
    <title>hit da carte</title>
</h:head>
<h:body>
    <div id="form">
        <ui:insert name="form">
            <ui:include src="templates/templForm.xhtml"/>
        </ui:insert>
    </div>

    <div id="picture">
        <ui:insert name="picture">
            <ui:include src="templates/templPicture.xhtml"/>
        </ui:insert>
    </div>
    <div id="results" class="resultsTable">
        <ui:insert name="results" >
            <ui:include src="templates/templTable.xhtml"/>
        </ui:insert>
    </div>
    <div id="link">
        <ui:insert name="link">
            <ui:include src="templates/templLink.xhtml">
                <ui:param name="linkValue" value="indexxx"/>
                <ui:param name="linkName" value="Start Page"/>
            </ui:include>
        </ui:insert>
    </div>
    <script type="text/javascript" src="templates/canvas.js">

    </script>
    <script type="text/javascript">
        $(function () {
            $("#myCanvas").bind('click',function (e) {
                _r = document.getElementById("myForm:rHidden");
                _x = (e.pageX - 731)/scale;
                _y = (301-e.pageY)/scale;
                document.getElementById("myForm:xHidden").value = _x;
                document.getElementById("myForm:yValue").value = _y;
                document.getElementById("myForm:button").click();
                document.getElementById("myForm:rRadioSelect").click();
            })
        })
    </script>
</h:body>
</html>

